body{
  background-color: #F1F7ED;
}
h1{
  text-align: center;
  color: #422911;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}
.contact{
  color:#422911;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: right;
}
.centered-image{
  margin: auto;
  width: 200px;
  height: auto;
  display: block;
}
.frame{
  margin: auto;
  border: 8px solid rgb(148, 117, 77);
  padding: 2px;
  background-color: rgb(43, 40, 40);
}
a:link{
  color: #54494B;
}
a:visited{
  color:#D2989F;
  text-decoration: none;
}
a:hover{
  color:palevioletred
}
a:active{
  color:darkseagreen;
  text-decoration: none;
}
.column{
  margin: auto;
  width: 460px;
  float: left;
}
.about{
  color: #1A5E63;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.project{
  color:#6B9080;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.highlight{
  color:#D2989F;
}