body{
  background-color: #F1F7ED;
}
h1{
  text-align: center;
  color: #422911;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}
.centered-image{
  margin: auto;
  width: 200px;
  height: auto;
  display: block;
}
.frame{
  margin: auto;
  border: 8px solid rgb(148, 117, 77);
  padding: 2px;
  background-color: rgb(43, 40, 40);
}
.column{
  margin: auto;
  width: 450px;
  float: left;
}
.about{
  color: #1A5E63;
}
.project{
  color:#6B9080;
}
.highlight{
  color:#D2989F;
}