body{
  background-color: #fcf2f5;
}
h1{
  text-align: center;
  color: #422911;
}
.centered-image{
  margin: auto;
  width: 200px;
  height: auto;
  display: block;
}
.frame{
  margin: auto;
  border: 8px solid rgb(148, 117, 77);
  padding: 2px;
  background-color: rgb(43, 40, 40);
}
.about{
  color:pink;
}
.project{
  color:plum;
}
.highlight{
  color:darkolivegreen;
}